# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
assets
bower_components
bower.json
CHANGELOG.md
composer.json
composer.lock
gulpfile.js
LICENSE.md
package-lock.json
package.json
README.md
ruleset.xml
screenshot.png
node_modules
vendor
*.map


npm-debug.log
yarn-error.log
